:root {
  --primary-text-color: #757575;
  --logo-color: #000000;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --hero-bg-color: #2f303a;
  --section-bg: #f5f4fa;
  --border-color: #eeeeee;
  --line-color: #ececec;
  --grey: #afb1b8;
}
body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}

/* Header */

.main-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-accent {
  color: var(--accent-color);
}
.header-link {
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  border-radius: 2px;
  display: block;
  background-color: var(--accent-color);
}
.site-nav {
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .header-link:hover,
.site-nav .header-link:focus {
  color: var(--accent-color);
}

.site-nav .header-link.current {
  color: var(--accent-color);
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contact-link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contacts .contact-item + .contact-item {
  margin-left: 50px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* hero */
.hero {
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  text-align: center;
  padding: 200px 0;
  margin: 0 auto;
  height: 600px;
}
.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* button */
.button {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
}
/* Переваги */

.feature-items {
  display: flex;
}
.feature-items .feature-item:not(:last-child) {
  margin-right: 30px;
}
.feature-icons {
  width: auto;
  height: 120px;
  background-color: var(--section-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.feature-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Чем мы занимаемся */
.work {
  padding-top: 0;
}
.work-item {
  display: flex;
  justify-content: space-between;
}
.work-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.work-picture {
  position: relative;
}
.work-picture-text {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}
/* Наша команда */
.team {
  background-color: #f5f4fa;
}
.item-border {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}

.team-item {
  display: flex;
  justify-content: space-between;
}
.title-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-item .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-item .text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team-soc-link {
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey);
}
.team-soc-icon {
  fill: currentColor;
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Постійні клієнти */
.clients-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.clients-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.client-link {
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 170px;
  height: 92px;
  border: 1px solid var(--grey);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey);
}
.client-logo {
  fill: currentColor;
}
.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

/* FOOTER */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-bg-color);
}
.footer-logo {
  margin-bottom: 20px;
  display: block;
  color: var(--primary-white-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.address-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-item .address {
  color: var(--primary-white-color);
}
.address-item .contact {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
}
.address-item .contact:hover,
.address-item .contact:focus {
  color: var(--accent-color);
}
.address-item .item:not(:last-child) {
  margin-bottom: 9px;
}
.connect-box {
  display: flex;
  align-items: baseline;
}
.connect {
  margin-left: 70px;
}
.connect-text,
.subscription-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.connect-list {
  display: flex;
  gap: 10px;
}
.connect-link {
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
}
.connect-icons {
  fill: currentColor;
}
.connect-link:hover,
.connect-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.subscription {
  margin-left: 93px;
}
.subscription-form {
  display: flex;
}
.form-email {
  transition-property: outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
.form-email:focus {
  outline-color: var(--accent-color);
}

.subscription-form .button {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  margin-left: 12px;
  height: 50px;
}
.subscription-icons {
  margin-left: 10px;
}
/* Модалка */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 581px;
  min-width: 528px;
  border-radius: 4px;
  padding: 40px;
  background-color: var(--primary-white-color);
}
.backdrop.is-hidden .modal {
  transform: scale(0);
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-white-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-title {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.modal-form {
}
.form-field {
  margin-bottom: 10px;
}
.input-wrap {
  position: relative;
}
.input-title {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.input-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.form-input {
  transition-property: outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 42px;
  margin-top: 4px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input:focus,
.comment-text:focus {
  outline-color: var(--accent-color);
}
.form-input:focus + .input-icon {
  fill: var(--accent-color);
}
.comment-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.checkbox {
  margin-bottom: 30px;
}
.check-text {
  font-weight: 400;
  line-height: 1.71;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-text span {
  transition-property: background-color, border, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
  margin-right: 8px;
}
.check-icon {
  fill: transparent;
}
.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}
.input-check:focus + .check-text span {
  border-color: var(--accent-color);
}
.input-check:checked + .check-text .check-icon {
  fill: var(--primary-white-color);
}
.contract-link {
  color: var(--accent-color);
  margin-left: 5px;
}

/*-------------- Page Portfolio ------------------- */
.header-border {
  border-bottom: 1px solid var(--line-color);
}
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.button-items {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-items .item:not(:last-child) {
  margin-right: 8px;
}
.button-filter {
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--section-bg);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-filter:hover,
.button-filter:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.example-link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.example-link:hover,
.example-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.example-link:hover .example-text {
  transform: translateY(0);
}
.example-image {
  position: relative;
  overflow: hidden;
}
.example-text {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  padding: 63px 24px;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
}
.description {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}
.description-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.description-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
